<div class="row art-list">
    <div class="col-sm-3">
        <div class="card-deck" style="max-width: 18rem;">
            <div class="card" id="{{id}}">
                <img src="{{image_url}}" class="card-img-top card-image" alt="artwork images">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <ul class="card-text">
                        <li id="artist">{{artist.artist_name}}</li>
                        <li>{{medium}}</li>
                        <li>{{date}}</li>
                        <li>{{style}}</li>
                        <li>{{location}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>