<div class="art-list">
    {{#each post}}

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src={{post.image_url}} class="card-img-top card-image" alt="artwork images">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <ul class="card-text">
                    <li id="artist">{{post.artist.artist_name}}</li>
                    <li>{{post.medium}}</li>
                    <li>{{post.date}}</li>
                    <li>{{post.style}}</li>
                    <li>{{post.location}}</li>
                </ul>
            </div>
        </div>
    </div>
    
    {{/each}}
    </div>