
            <<div class ="art-list">
                {{#each posts as |post|}}
                <ul>
                <li id="title">{{post.title}}</li>
                <li id="artist">{{post.artist_name}}</li>
                <li>{{post.medium}}</li>
                <li>{{post.date}}</li>
                <li>{{post.style}}</li>
                <li>{{post.location}}</li>
                </ul>
                {{/each}}
            </div>
